#title {
    background-color: #ff4c68;
    color: white;
}

body {
    font-family: 'Montserrat';
}

.big-title {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Section */

.navbar {
    padding: 0 0 4.5rem;
}

nav .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

/* Title Image */
.title-img {
    width: 55%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-item {
    text-align: center;
    padding: 5%;
}

.feature-item .icon {
    font-size: 3.5rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-item .icon:hover {
    color: #ff4c68;
}

.feature-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-item p {
    color: #8f8f8f;
}

/*  Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#testimonials h2 {
    font-size: 3rem;
    font-weight: bold;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/*  Press Section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-coloumn {
    padding: 3% 2%;
}

.card h2 {
    font-weight: bold;
    font-size: 2.8rem;
}

.pricing-title h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

/*  CTA Section */

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7% 15%;
}

#cta h3 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}


/*  Footer Section */

#footer {
    text-align: center;
    padding: 2% 15%;
}

#footer p {
    margin: auto;
}

#footer .social-icon {
    margin: 20px 10px;
}



/*  Media Queries */
@media (max-width: 1028px) {
    .title-img {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }

    html {
        font-size: 14px;
    }
}

@media (min-width:1028px) {
    .title-img {
        width: 20%;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 840px) and (max-width: 990px) {

    .title-img {
        width: 40%;
    }
}